@import "~react-toolbox/lib/commons";

.container {
  position: relative;
  display: block;

  .card {
    display: table;
  }

  .check {
    position: absolute;
    right: 0;
    top: 6px;
    color: $palette-light-green-a400;
    width: 32px;
    height: 32px;
  }

}

