@import "~react-toolbox/lib/commons";

.container {
  display: block;
  padding: 6px;
  .importChar {
    display: inline-flex;
    width: 100%;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    .col {
      display: block;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 33.33%;
    }
    .item {
      display: block;
      width: 30%;
      margin: 8px;
    }


  }


  .footer {
    position: relative;
    display: block;
    margin-top:1em;
    text-align: center;

    .actions {
      margin: auto;
      button {
        margin: 1em;
      }
    }
  }
}
