@import "~react-toolbox/lib/commons";

.importChar {
  padding:2em;
  flex:1;
  max-width: 800px;
  position: relative;

  .charList{
    .listItem {
      border-bottom: 1px solid #f0f0f0;
      &.selected {
        background-color: $palette-blue-50;
      }

      .avatar{
        background-color: $color-accent-dark;
        [data-react-toolbox="font-icon"] {
          margin: 0;
          width: auto;
        }
      }
    }
  }

  .footer {
    display: flex;
    margin-top:2em;
    button {
      flex: 1;
    }
  }
}
