@import "~react-toolbox/lib/commons";

.charGrid {
  /**
   * 1 card per row
   */
  .grid > .item {
    width: 100%;
    margin: 1em 0;

    &:hover {
      background-color: $palette-blue-50;
    }
  }

  /**
   * 2 cards per row
   */
  @media (min-width: $layout-breakpoint-sm) {
    .grid {
      margin-left: -1em;
      margin-right: -1em;
    }

    .grid > .item {
      width: calc( 50%  -  2em );
      margin: 1em;
      float: left;
    }
  }

  /**
   * 4 cards per row
   */
  @media (min-width: $layout-breakpoint-md) {
    .grid {
      margin-left: -0.75em;
      margin-right: -0.75em;
    }

    .grid > .item {
      width: calc( 25%  -  1.5em );
      margin: 0.75em;
      float: left;
    }
  }

}
