@import "~react-toolbox/lib/commons";

.Collapsible {
  display: inline-table;
  background-color: #fff;
  width: 100%;
}


//The content within the collaspable area
.contentInner {
  padding: 10px;
}

//The link which when clicked opens the collapsable area
.trigger {
  display: block;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: black;
  font-size: 1.8 * $unit;
  color: white;
}

.icon {
  position: absolute;
  right: 10px;
  top: 8px;
  display: block;
  transition: transform 300ms;
}

.iconOpen {
  transform: rotateZ(180deg);
}